html,body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
}

#cargando {
    position:fixed;
    width:100%;
    height:100%;
    background:#fff url('../images/ajax-loader.gif') no-repeat center;
	z-index:9999999;
}

.clear{
	clear: both;
}

.fadein
{
    opacity:0;

}

.full{
	width: 100%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

header{
	background: #00c63d;
	position: relative;
	padding: 20px 10px;
}

.logo{
	float: left;
	/*width: 30%;
	max-width: 337px;*/
}
.logo img{
	width: 100%;
}
.share{
	position: absolute;
	right: 30px;
	bottom: 25px;
}
.btn-share{
	cursor: pointer;
}

.btn-menu{
	color: #fff;
	font-size: 38px;
	display: none;
	cursor: pointer;
}
.wrap-slides div{
	padding-left: 0 !important;
    padding-right: 0 !important;	
}
.wrap-slides img{
	width: 100%;
	margin: 0 auto;
	display: block;
}


/*---BENEFICIOS----*/
.beneficios{
	background: #fff;
	text-align: center;
	padding: 0 0 60px;
	position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.beneficios p{
   font-size: 28px;
}
.beneficios p.min{
   font-size: 24px;
}
.oorr{
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	text-align: center;
	border-top: 1px solid #9d9d9c;
	border-bottom: 1px solid #9d9d9c;
}
.oorr a{
	display: inline-table;
	transition: all 0.3s ease;
}

.oorr a:hover{
	opacity: 0.8;
}

.beneficios h3{
	position: absolute;
	left: 0;
	top: 80px;
	font-size: 40px;
	color: #898787;
	border-bottom: 1px solid #898787;
	padding-left: 50px;
	padding-bottom: 15px;
	margin-top: 0;
	width: 290px;
	text-align: left;
}

.beneficios .btn-verde{
	width: 300px;
  margin: 50px auto 0;
  display: block;
	background-image: linear-gradient(to right, #2ea435 , #0f9436);
	padding: 8px 0;
	color: #fff;
	font-size: 25px;
}

/*---FOOTER----*/
footer{
	background: #323436;
	color: #f7f7f7;
	font-size: 18px;
	font-weight: 300;
	padding: 50px 60px 50px;
}

footer h3{
	color: #b4ba4a;
	font-family: 'Roboto Condensed';
	font-weight: normal;
	font-size: 35px;
	border-bottom: 1px solid #707173;
	padding-bottom: 8px;
	margin-bottom: 30px;
}
.logo-footer{
    clear: both;
    padding: 0 0 30px;
    float: left;
    width: 100%;
}
.mod-footer1{
	width: 100%;
	float: left;
}
.mod-footer2{
	width: 540px;
	float: left;
	margin-left: 90px;
}

.mod-footer p{
	font-size: 12px;
	padding: 0 0 5px;
}
.mod-footer a{
	color: #fff;
}
.mod-footer ul{
	padding-left: 0;
	list-style: none;
}
.mod-footer ul li{
	margin-bottom: 5px;
	font-size: 12px;
}
.mod-footer ul li a{
	color: #f7f7f7;
	font-size: 12px;
	font-weight: 300;
}
.menu-footer1{
	width: 50%;
	float: left;
}
.menu-footer2{
	width: 40%;
	float: left;
}
.menu-footer3{
	width: 30%;
	float: left;
}
.menu-footer2 img, .menu-footer3 img{
	display:inline-block;
	float: left;
	margin-right: 5px;
}

/*---MAPA----*/
#map{
   height:350px;
   width:100%;
   background: url(../images/bg-mapa.png) center no-repeat;
}
.mapa-int{
   margin: 40px 0;
}
#mypanel h2{
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to right, #2ea435 , #0f9436);
  font-size: 24px;
  line-height: 120%;
	margin: 0;
}
#mypanel ul{
   padding: 10px;
	height: 320px;
   border-left: 1px solid #3e3e3e;
   border-right: 1px solid #3e3e3e;
   border-bottom: 1px solid #3e3e3e;
	overflow: auto;
}
#mypanel ul li{
   list-style: none;
	font-size: 16px;
	position: relative;
	clear: both;
	margin-bottom: 13px;
	float: left;
	width:95%;
}
#mypanel ul li label{
	margin-left: 3px;
	font-weight: normal;
	color: #3e3e3e;
	display: inline;
}
.mapa p{
	font-size: 28px;
	text-align: center;
}


@media only screen and (max-width : 1400px) {
}

@media only screen and (max-width : 1200px) {

	.logo{
		width: 250px;
	}

	.beneficios h3 {
	  border-bottom: 1px solid #898787;
	  color: #898787;
	  font-size: 40px;
	  left: 0;
	  margin-top: -50px;
	  padding-bottom: 15px;
	  padding-left: 50px;
	  position: relative;
	  text-align: left;
	  top: auto;
	  width: 290px;
	  margin-bottom: 30px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.logo{
		width: 250px;
	}
}


@media only screen and (max-width : 767px) {
	.mod-footer1{
		width: 100%;
	}
	.menu-footer2, .menu-footer3{
		width: 100%;
		margin-left: 0px;
		padding-left: 0px;
		padding-bottom: 20px;
	}
	footer{
		padding: 30px;
	}
	#map{
	   width:350px;
	}
}


@media only screen and (max-width : 480px) {
	.logo{
		width: 200px;
	}
	footer{
		padding: 30px 20px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
}

.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
	left: 20px;
}

.checkbox > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #fff;
    cursor: pointer;
	margin-top:0;
  }

.checkbox > input:checked {
    background:url("../images/ic-check.svg") #2074ef;
	background-size:100%;
}

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: #41B883;
    position: absolute;
    left: 0.7rem;
    top: 0.2rem;
}

.checkbox > input:active {
    border: 2px solid #34495E;
}
.checkbox label{
   padding-left:10px;
}